.course-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px 25px 20px;
    min-width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: relative;
}

.course-card:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

.course-card h2{
    gap: 10px;
    font-size: 1.3em !important;
    width: 300px;
    min-width: 50px;
}

.course-card .title-settings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.course-card .title-settings .settings span{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.7em;
}

.course-card p:first-of-type{
    font-weight: lighter;
    font-size: 1em;
    max-width: 300px;
    min-width: 50px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.course-card p, .course-card .metadata-section{
    z-index: 0;
}

.course-card p:nth-of-type(2){
    font-size: 0.8em;
    color: rgb(255, 255, 255, 0.5);
}

.course-card .metadata-section{
    margin-top: auto;
    font-size: 0.9em;
    color: rgb(255, 255, 255, 0.5);
}

.settings{
    position: relative;
    user-select: none;
}

.settings .sett-container:hover{
    color: rgb(255, 255, 255, 0.5);
    scale: (2);
}

.course-card .course-card-settings{
    position: absolute;
    top: -5px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1a1a1a;
    color: white;
    padding: 20px 10px 20px 10px;
    z-index: 999;
    border-radius: 5px;
    user-select: none;
}

.course-card .course-card-settings .option:nth-child(2):hover{
    background-color: #e02929;
}

.course-card .course-card-settings .option:nth-child(1):hover{
    background-color: #2997e0;
}

.course-card .course-card-settings .option:nth-child(3):hover{
    background-color: #e07b29;
}

.course-card .course-card-settings .option{
    font-size: 1em !important;
    width: 100%;
    padding: 5px 30px 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.course-card .course-card-settings .option h3{
    font-weight: 400;
    font-size: 1em !important;
    gap: 14px;
    width: 100%;
}

@media (max-width: 769px) {
    
    .course-card-settings .h1-icon{
        width: 100%;
    }

    .course-card h2{
        font-size: 1.1em !important;
    }

    .course-card p{
        font-size: 0.8em !important;
    }

}