.feature-card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(4, 5, 8);
    border-radius: 5px;
    padding: 50px;
    text-align: justify;
    width: 100%;
    border: 1px solid #0061FF;

}

.feature-card h2{
    font-weight: bolder;
    font-variant: small-caps;
    text-align: center;
}

.feature-card span{
    font-size: 50px;
}

.feature-card p{
    font-weight: lighter;
    font-size: 0.9em;
}

.feature-card:hover{
    background-color: #0061FF;
}