#landing-page-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    color: white;
    padding: 10px 30px;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    z-index: 100
}

#logo-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
}

#logo-section img{
    height: 3em;
    margin-right: 10px;
}

#links-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
}

#links-section a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links-section a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    filter: brightness(1.3);
    scale: 1.03;
}

#links-section a span{
    margin-right: 5px;
}

@media screen and (max-width: 1000px) {
    
    #links-section a{
        padding: 10px 20px;
        font-size: 0.75em;
    }

    #logo-section img{
        height: 2.5em;
    }

    #logo-section h1{
        font-size: 1.4em;
    }

    #landing-page-navbar{
        padding: 10px 20px;
        height: 15vh;
    }

}

@media screen and (max-width: 768px) {
    
    #links-section a{
        padding: 10px 15px;
        font-size: 0.58em;
    }

    #logo-section img{
        height: 1.5em;
    }

    #logo-section h1{
        font-size: 1em;
    }

    #landing-page-navbar{
        padding: 10px 15px;
        height: 70px;
    }

}